.dashboard-content-section{
    background-color: transparent !important;
    height: 100%;
    width: 82%;
    padding-top: 70px;
}

.dashboard-content-container{
    position: relative;
    background-color: rgba(211, 211, 211, 0.425);
    margin-right: 3%;
    border-radius: 10px;
    height: 95%;
    /* padding: 55px 30px; */
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.DashHeader{
/*     display: flex;
    flex-direction: column;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: transparent !important;
    padding: 0px 30px;
    padding-top: 10px;
    height: 60px;
}

.dashboard-content-container h2{
    display: inline-block;
    margin-top: 11px;
    font-size: 16px;
    letter-spacing: 1px;
    border-left: 3px solid rgb(100, 100, 100);
    border-right: 3px solid rgb(100, 100, 100);
    padding: 0px 10px;
    border-radius: 5px;
    background-color: transparent;
    text-transform: capitalize;
}

.search-cont{
    display: block;
}

.search-cont input{
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    background-color: white;
    border: 2px inset silver;
    width: 200px;
    height: 24px;
}

.dashboard-content-container .DashContentContainer{
    margin-top: 20px;
    border-top: 1px solid silver;
    background-color: transparent;
    margin: 0px 30px;
    margin-top: 60px;
    width: 95%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
}



/* 
content style types
*/

/* lists */
.dashContentItem-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.479);
    padding: 10px 10px;
    margin: 10px 0px;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.dashContentItem-list-title{
    font-size: 13px;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

.dashContentItem-list-buttons{
    display: block;
}

.dashContentItem-list-buttons button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.dashContentItem-list-buttons button i{
    font-size: 15px;
    color: black;
}