@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.about-banner-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 60vh;
  padding: 0px 10%;
/*   background: url("../Assets/banners/Fuji_Dash_Beauty_1x._SY304_CB432774351_.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
}

.about-banner-thumbnail{
  width: 50%;
}

.about-banner-thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-banner-note {
  background-color: transparent;
  width: 40%;
}

.about-banner-note h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-family: poppins, sans-serif;
  font-weight: bold;
  margin: 30px 0px;
}

.about-banner-note p {
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-weight: 500;
}

.scrolling-category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
}

.scrolling-category-section small {
  text-transform: lowercase;
  font-size: 13px;
  font-family: poppins, sans-serif, monospace;
  letter-spacing: 1px;
  text-decoration: underline;
  padding-bottom: 50px;
}

.scrolling-category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.animate-section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 200%;
  position: relative;
  height: 50px;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.animate-section-1:hover {
  animation-play-state: paused;
}

.scroll-item-con1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}

.scroll-item {
  background-color: rgba(211, 211, 211, 0.432);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  margin-right: 50px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  cursor: pointer;
  width: auto;
}

.scroll-item:hover {
  background-color: grey;
  background-color: rgba(211, 211, 211, 0.671);
}

.scroll-item .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.scroll-item .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scroll-item .label {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  padding-left: 10px;
  padding-right: 20px;
}

.services-section {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 5% 10%;
}

.services-section div {
  width: 50%;
}

.service-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-titles h1 {
  font-size: 5vw;
  font-weight: bold;
  font-family: poppins, sans-serif;
}

.service-titles span {
  font-size: 4vw;
  font-weight: bold;
  font-family: poppins, sans-serif;
}

.services-right-section {
  display: flex;
  flex-direction: column;
}

.services-right-section span button {
  height: 35px;
  width: 170px;
  border-radius: 30px;
}

.services-right-section span p {
  padding-top: 20px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.services-right-section span h3 {
  text-transform: capitalize;
  font-size: 20px;
  font-family: poppins, sans-serif;
  font-weight: 500;
  margin: 20px 0px;
}

.services-right-section span ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: space-between;
  height: 200px;
}

.services-right-section span ul li {
  padding: 5px 0px;
  text-transform: capitalize;
  font-weight: 400;
  font-family: poppins, sans-serif;
}
