.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 90vh; */
  background-color: rgba(211, 211, 211, 0.151);
}

.hero-nav-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2%;
  padding-top: 2%;
  /* padding-top: 70px; */
}

.hero-nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 70px;
}

.hero-nav-right-item {
  margin-right: 15px;
}

.hero-nav-right-item input {
  display: none;
  margin-right: 10px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgba(211, 211, 211, 0.616);
  color: grey;
  font-weight: 500;
  padding: 0px 20px;
  font-family: poppins, sans-serif;
  font-size: 13px;
}

.hero-nav-right-item button {
  border: none;
  background-color: transparent;
}

.hero-nav-right-item button i {
  font-size: 16px;
}

.hero-nav-right-item i {
  font-size: 14px;
}

.shopping-cart-count {
  font-size: 13px;
  color: orange;
}

.hero-nav-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* dropdown section */
.hero-banner-categories-dropdown-section {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  top: 230px;
  left: 275px;
  background-color: rgb(245, 245, 245);
  /* min-height: 300px; */
  max-height: 300px;
  max-width: 40%;
  padding: 20px;
  text-align: left;
  z-index: 100;
}

.hero-banner-categories-dropdown-section span {
  display: inline-block;
  margin: 5px 2px;
  width: 110px;
  cursor: pointer;
  text-transform: capitalize;
  font-family: poppins, sans-serif;
  font-size: 13px;
  font-weight: 400;
  transition: 0.3s linear;
}

.hero-banner-categories-dropdown-section span:hover {
  color: grey;
  transition: 0.3s linear;
}

.hero-banner-section {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding: 2%;
  height: 100%;
}

.categories-nav-section {
  background-color: rgb(245, 245, 245);
  width: 20%;
  height: 100%;
}

.categories-nav-item-title {
  text-transform: capitalize;
  font-family: poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s linear;
}

.categories-nav-item-title:hover {
  color: grey;
  transition: 0.3s linear;
}

.categories-nav-item-title-heading {
  text-transform: capitalize;
  font-size: 18px;
  font-family: poppins, sans-serif;
  font-weight: 600;
  color: grey;
}

.categories-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.048);
  cursor: pointer;
}

.categories-nav-item-ico {
  font-size: 14px;
  font-weight: 500;
}

.corusel-section {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  width: 80%;
  height: 100%;
}

.Carousel-item{
  height: 370px;
  width: 100%;
}

.Carousel-banner{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.corusel-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* offers */

.offers-nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 1% 2%;
}

.offers-nav-item {
  display: flex;
  flex-direction: row;
  /* height: 50px; */
}

.offers-nav-item-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-right: 10px;
}

.offers-nav-item-icon i {
  font-size: 18px;
}

.offers-nav-item-details {
  display: flex;
  flex-direction: column;
}

.offers-nav-item-details-title {
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  font-size: 13px;
  font-family: poppins, sans-serif;
}

.offers-nav-item-details-subtitle {
  font-weight: 400;
  text-align: left;
  text-transform: lowercase;
  font-size: 12px;
  font-family: poppins, sans-serif;
}
