/* imports */
@import url("./header.css");
@import url("./Footer.css");
@import url("./heroSection.css");
@import url("./brandsBanner.css");
@import url("./wholeShopListing.css");
@import url("./DetailsHeroSection.css");
@import url("./footerBrandsListing.css");
@import url("./OfferScrollDealsBanner.css");
@import url("./featuredProductsListing.css");
@import url("./DetailsInformationSection.css");
/* body resetting */
* {
  font-family: poppins, sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: rgb(46, 44, 44);
}

html {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
}

form {
  display: inline;
}

input,
textarea,
button {
  outline: none;
}
