.OfferScrollDealsBanner-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(211, 211, 211, 0.226);
    padding: 5%;
}

.OfferScrollDealsBanner-section div{
    height: 250px;
    width: 30%;
}

.OfferScrollDealsBanner-section div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
